CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_ENABLE_WEB_SERVER=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_MDNS_NETWORKING_SOCKET=y
CONFIG_MDNS_PREDEF_NETIF_AP=n
CONFIG_MDNS_RESPOND_REVERSE_QUERIES=y
